@page "/dashboard"
<h3>Dashboard</h3>
<div class="d-flex flex-row align-items-center justify-content-between col-12">
   
 
 <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">DotNet</h5>
    <h6 class="card-subtitle mb-2 text-muted">Web Api ,Blazor</h6>
    <p class="card-text">software helps the developers to achieve to develope the web , mobile and desktop applications scalable.</p>
    <a href="#" class="card-link">dot</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Python</h5>
    <h6 class="card-subtitle mb-2 text-muted">Numpy Pandas</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Javascript</h5>
    <h6 class="card-subtitle mb-2 text-muted">React,Vue,Angular</h6>
    <p class="card-text">Powerfull Web Technology Scripting Language and Beutiful  language .</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>


@code {

}
