@page "/fetchprojectdetails"

@using Task1.Shared.Models;

<h1>Project Data</h1>
<p>Blazor CRUD operation</p>
<div class="row">
    <div class="col-md-6">
        <a href='/project/add' class="btn btn-primary" role="button">
            <i class="fas fa-project-plus"></i>
            Add Project
        </a>
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search Project by name"
               @bind="SearchString" @bind:event="oninput" @onkeyup="FilterProject" />
        @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
</div>
<br />
@if (projectList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
              
                <th>Name</th>
                <th>Description</th>
                 <th>Technology</th>
                 <th>Actions</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projectList)
            {
                <tr>
                    <td>@project.ProjectName</td>
                    <td>@project.Description</td>
                    <td>@Enum.GetName(typeof(Technologies),int.Parse(@project.Technologies))</td>
                   

                    
                    <td>
                        <a href='/project/edit/@project.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/project/delete/@project.Id' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
@code {
    
}
